%li
  %h3= link_to post.title, post
  = "Added #{time_ago_in_words(post.created_at)} ago by #{post.user}"
  = link_to 'Edit', edit_post_path(post)
  = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }